@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

.app-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle at 10% 20%, rgb(255, 255, 255) 0%, rgb(240, 225, 255) 90%);
  position: relative;
  color: #4c1d95;
}

.app-container {
  display: grid;
  grid-template-columns: 400px 1fr;
  flex: 1;
  overflow: hidden;
  gap: 30px;
  padding: 30px 50px;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.tasks-section {
  padding: 40px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 30px;
  box-shadow: 0 8px 32px 0 rgba(157, 127, 226, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.tasks-section h2 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 28px;
  color: #5b21b6;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.loading-message {
  text-align: center;
  color: #a78bfa;
  font-size: 16px;
  margin-top: 50px;
  font-weight: 500;
}

.tasks-section::-webkit-scrollbar {
  width: 6px;
}

.tasks-section::-webkit-scrollbar-track {
  background: transparent;
}

.tasks-section::-webkit-scrollbar-thumb {
  background: #d8b4fe;
  border-radius: 20px;
}

.tasks-section::-webkit-scrollbar-thumb:hover {
  background: #c084fc;
}

.Retry-btn{  
  background: white;
  color: #ef4444;
  padding: 5px 14px;
  border-radius: 6px;
  border: 1px solid #fca5a5;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  
}